<div class="playfield">
  <div class="top-toolbar">
    <div class="token">
      <p>Token: <span class="token-s" [innerText]="token || 'No token present'"></span></p>
    </div>
    <div class="logo">Trivia</div>
    <div class="points">
      <p>Points: <span class="points">{{ pointsService.points }}</span></p>
    </div>
  </div>

  @if (!token) {
  <div class="first-screen">
    <button (click)="getToken()">Get Token</button><br>
  </div>
  }

  @if(token && questions.length === 0) {
  <div class="first-screen">
    <button (click)="getQuestions()">Start</button>
  </div>
  }

  @if(questions.length) {

  @for(question of questions; track question) {
  <app-question [question]="question"></app-question>
  }
  }
</div>