<div class="top-toolbar">
  <div class="token">
    <p>Your Token: <span class="token-s" [innerText]="token || 'No token present'"></span></p>
  </div>
  <div class="logo">Trivia <span class='highlight'>Arcade</span></div>
  <div class="points">
    <p>Points: <span class="points">{{ pointsService.points }} of {{ questions.length }}</span></p>
  </div>
</div>
<div class="playfield">
  @if (!token) {
  <div class="first-screen">
    <button (click)="getToken()">Get Token</button><br>
  </div>
  }

  @if(token && questions.length === 0) {
  <div class="first-screen">
    <button (click)="getQuestions()">Start</button>
  </div>
  }

  @if(questions.length) {

  @for(question of questions; track question; let index = $index) {
  <app-question [question]="question" [index]="index + 1"></app-question>
  }
  }
</div>